
 
.chapter1-main {
  @apply max-w-7xl mx-auto p-4 mt-20 sm:p-20 lg:p-40;
}

.chapter1-section {
  @apply mb-16 scroll-mt-[20vh];
}

.chapter1-section h1 {
  @apply text-4xl font-semibold text-[var(--color-foreground)] mb-6 tracking-tight leading-snug;
}

.chapter1-section h2 {
  @apply text-3xl font-semibold text-[var(--color-foreground)] mb-6 tracking-tight leading-snug;
}

.chapter1-section p {
  @apply text-gray-400 mb-4;
}


.chapter1-table {
  @apply w-full border-collapse my-8 bg-[var(--color-background)] rounded-lg overflow-hidden shadow-sm;
}

.chapter1-th, th,
.chapter1-td, td {
  @apply p-4 text-left border-b border-gray-300;
}

th {
  @apply bg-[var(--color-foreground)] font-semibold text-[var(--color-background)] text-sm uppercase tracking-wider;
}

td {
  @apply text-[var(--color-foreground)] text-sm;
}

.chapter1-tr:last-child .chapter1-td {
  @apply border-b-0;
}

.chapter1-img {
  @apply block mx-auto my-8 max-w-full h-auto rounded-lg;
}
