@import "tailwindcss";
/*CHAPTER 4*/

/*header*/
.chapter4-body{
    @apply m-10 p-3
}
.chapterFour{
    @apply m-20;
}

.requirments{
     @apply shadow-lg shadow-cyan-500/50 text-center text-2xl rounded-lg ;
}



.chapterFour {
  @apply m-20 space-y-10;
}


/*objectives&contents*/

.chapter4-objectives1{
    @apply self-center text-center text-2xl;
}

.chapter4-objectives,
.chapter4-context {
  @apply  shadow-sm shadow-lg shadow-cyan-500/50 rounded-xl p-8 
   text-center font-semibold m-4 text-secondary;
}

.chapter4-function0{
  @apply shadow-sm shadow-white rounded-xl p-8 
   text-center m-8;
}


.chapter4-text{
    @apply text-left;
}



.toggle-btn {
  @apply text-white px-4 py-2 rounded-lg hover:bg-gray-700 transition duration-300;
}


.toggle-content {
  @apply mt-4 transition-all duration-500 ease-in-out overflow-hidden;
}


.hidden {
  display: none;
}
/*heder*/




/*main*/
.chapter4-main{
    @apply p-10 m-20 rounded-md text-justify shadow-lg shadow-cyan-500/50 shadow-md 
    ;
}

.chapter4{
    @apply text-xl p-3;
}
.chapter4-right{
    @apply font-semibold text-xl text-right;
}
.chapter4-left{
    @apply font-semibold text-xl text-left p-2;
}

.chapter4-User{
    @apply bg-gray-600 rounded-md p-3 m-4;
}
.chapter4-User1{
    @apply font-semibold;
}

.chapter4-bg{
    @apply  bg-gray-600 rounded-sm rounded-md rounded-lg rounded-xl p-3 m-4 text-justify; 
}

.chapter4-User2{
    @apply font-semibold  text-2xl text-center ;
}


.chapter4-figure{
    @apply text-right text-justify font-semibold;
}


.chapter4-function{
    @apply font-semibold p-2;
}


.chapter4-bg1{
    @apply  bg-gray-600 rounded-md p-3 m-3 text-center rounded-sm rounded-md rounded-lg rounded-xl  mx-100;
}

.chapter4-pic{
    @apply flex items-center justify-center p-3 mx-100 hover:scale-105 bg-secondary rounded-md;
}

.chapter4-link{
    @apply text-center justify-center;
}

.chapter4-1{
@apply font-semibold p-3;
}


/*footer*/

.chapter4-footer{
   @apply border-3 border-white justify-center  p-6  m-10 rounded-md; 
}

.chapter4-reference{
    @apply p-3 underline underline-offset-1;
}