@import "tailwindcss";

/* ChapterThree */
.body {
   @apply p-20
}


.main{
    @apply      text-justify 
                 p-25  bg-primary/35 
                 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2  lg:grid-cols-3  xl:grid-cols-4 gap-4
                 text-pretty sm:text-pretty lg:text-pretty xl:text-wrap 
                 sm:tracking-tight md:tracking-normal lg:tracking-normal xl:tracking-wider
}



.header{
    @apply text-center        
           xl:text-wrap   my-10   
           text-3xl font-bold p-6  rounded-lg 
           bg-secondary/50 shadow-lg shadow-blue-500/40 rotate-2 
           md:col-span-2     lg:col-span-3  xl:col-span-4
}

.objective{
    @apply text-justify   
            mb-5 text-lg p-6  rounded-lg 
           bg-secondary/50 shadow-lg shadow-blue-500/40   
            sm:p-5 md:p-10 lg:p-15 xl:p-20 
            md:col-span-2  lg:col-span-3  xl:col-span-4 

}

.h1{
    @apply text-center text-3xl  mb-10

}

.content{
    @apply mt-0   text-lg p-6  rounded-lg  
           bg-secondary/50 shadow-lg shadow-blue-500/40  
             
           md:col-span-2   lg:col-span-3  xl:col-span-4 
           sm:p-5 md:p-10 lg:p-15 xl:p-20 

}

.h2{
    @apply text-center text-2xl  mb-10
}

.page57{
    @apply text-right  my-5   
           md:col-span-2 lg:col-span-3 xl:col-span-4
}





.article{
    @apply  md:col-span-2 lg:col-span-3 xl:col-span-4
}

.article_section1{
    @apply text-lg p-6 rounded-lg       
            bg-secondary/50 shadow-lg shadow-blue-500/40  
             sm:p-5 md:p-10 lg:p-15 xl:p-20   
}

.page58{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}


.article_section2{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page31{
    @apply text-center my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4   
}

.article_section3{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page59{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section4{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.images1{
    @apply block mx-auto
           my-5
           sm:mx-5 md:mx-10 lg:mx-20 xl:mx-40

}

.article_section5{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page61{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section6{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page62{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section7{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page32{
    @apply text-center my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4   
}

.article_section8{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page63{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.images2{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-18 lg:mx-50 xl:mx-70
           
}

.article_section9{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page64{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section10{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page33{
    @apply text-center my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section11{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page65{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}
 
.images3{
    @apply block mx-auto
           my-5
           sm:mx-5 md:mx-20  lg:mx-50 xl:mx-70
           
}

.article_section12{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page66{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.images4{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-10 lg:mx-20 xl:mx-70
           
}

.article_section13{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}



.images5{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-10 lg:mx-50 xl:mx-70
           
}


.article_section14{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page68{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.images6{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-10 lg:mx-40 xl:mx-70
}

.article_section15{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}
.page69{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page33-1{
    @apply text-center my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}   


.article_section16{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page70{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.images7{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-10 lg:mx-40 xl:mx-70
}

.article_section17{
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page71{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section18 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page33-2{
    @apply text-center my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section19 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page72{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section20 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page34{
    @apply text-center my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section21 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page73{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section22 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page73{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.images8{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-10 lg:mx-40 xl:mx-70
}

.article_section23 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page74{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section24 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page35{
    @apply text-center my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section25 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page75{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section26 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page76{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section27 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}
.page77{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section28 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}
.keypoints{
    @apply  text-left my-10  

            text-lg p-6
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}


.h3{
    @apply text-left text-4xl  mb-10
}

.page78{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section29 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section30 {
    @apply   text-left
           
           sm:p-5   md:p-5   lg:p-5  xl:p-5 
           sm:text-lg md:text-xl lg:text-2xl xl:text-3xl
           
}

.article_section31 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.exercises_section {
    @apply    text-center
           sm:p-5   md:p-5  lg:p-5  xl:p-5 
           sm:text-lg md:text-xl lg:text-2xl xl:text-3xl
           

}

.article_section32 {   
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page79{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.article_section33 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.page80{
    @apply text-right my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.references {
    @apply    text-center
           sm:p-5   md:p-5  lg:p-5  xl:p-5 
           sm:text-lg md:text-xl lg:text-2xl xl:text-3xl
           
           
}

.last_section {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-primary/35 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
           text-justify
}           