@import "tailwindcss";

/* ChapterThree */


.chapter3-body {
   @apply p-20
}


.chapter3-main{
    @apply      text-justify 
                 p-25  bg-primary/35 
                 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2  lg:grid-cols-3  xl:grid-cols-4 gap-4
                 text-pretty sm:text-pretty lg:text-pretty xl:text-wrap 
                 sm:tracking-tight md:tracking-normal lg:tracking-normal xl:tracking-wider
}



.chapter3-header{
    @apply text-center        
           xl:text-wrap   my-10   
           text-3xl font-bold p-6  rounded-lg 
           bg-secondary/100 shadow-lg shadow-blue-500/40 
           md:col-span-2     lg:col-span-3  xl:col-span-4
}

.chapter3-objective{
    @apply text-justify   
            mb-5 text-lg p-6  rounded-lg 
           bg-secondary/100 shadow-lg shadow-blue-500/40   
            sm:p-5 md:p-10 lg:p-15 xl:p-20 
            md:col-span-2  lg:col-span-3  xl:col-span-4 

}

.chapter3-h1{
    @apply text-center text-3xl  mb-10

}

.chapter3-content{
    @apply mt-0   text-lg p-6  rounded-lg  
           bg-secondary/100 shadow-lg shadow-blue-500/40  
             
           md:col-span-2   lg:col-span-3  xl:col-span-4 
           sm:p-5 md:p-10 lg:p-15 xl:p-20 

}

.chapter3-h2{
    @apply text-center text-2xl  mb-10
}

.chapter3-page1{
    @apply text-right  my-5   
           md:col-span-2 lg:col-span-3 xl:col-span-4
}


.chapter3-article{
    @apply  md:col-span-2 lg:col-span-3 xl:col-span-4
}

.chapter3-section{
    @apply text-lg p-6 rounded-lg       
            bg-secondary/100 shadow-lg shadow-blue-500/40  
             sm:p-5 md:p-10 lg:p-15 xl:p-20   
}


.chapter3-page{
    @apply text-center my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4   
}




.chapter3-images1{
    @apply block mx-auto
           my-5
           sm:mx-5 md:mx-10 lg:mx-20 xl:mx-40

}


.chapter3-images2{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-18 lg:mx-50 xl:mx-70
           
}


 
.chapter3-images3{
    @apply block mx-auto
           my-5
           sm:mx-5 md:mx-20  lg:mx-50 xl:mx-70
           
}


.chapter3-images4{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-10 lg:mx-20 xl:mx-70
           
}

.chapter3-images5{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-10 lg:mx-50 xl:mx-70
           
}


.chapter3-images6{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-10 lg:mx-40 xl:mx-70
}


.chapter3-images7{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-10 lg:mx-40 xl:mx-70
}





.chapter3-images8{
    @apply block mx-auto
           my-5
            sm:mx-5 md:mx-10 lg:mx-40 xl:mx-70
}

.chapter3-keypoints{
    @apply  text-left my-10  

            text-lg p-6
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}


.chapter3-h3{
    @apply text-left text-4xl  mb-10
}



.chapter3-section30 {
    @apply   text-left
           
           sm:p-5   md:p-5   lg:p-5  xl:p-5 
           sm:text-lg md:text-xl lg:text-2xl xl:text-3xl
           
}

.chapter3-section31 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-secondary/50 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.chapter3-exercises {
    @apply    text-center
           sm:p-5   md:p-5  lg:p-5  xl:p-5 
           sm:text-lg md:text-xl lg:text-2xl xl:text-3xl
           

}


.chapter3-references {
    @apply    text-center
           sm:p-5   md:p-5  lg:p-5  xl:p-5 
           sm:text-lg md:text-xl lg:text-2xl xl:text-3xl
           
           
}

.chapter3-last_section {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-primary/35 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
           text-justify
}           