@import "tailwindcss";

/* ChapterThree */


.chapter3-body {
   @apply p-20
}


.chapter3-main{
    @apply      text-justify 
                 p-25  bg-primary/35 
                 
                 text-pretty sm:text-pretty lg:text-pretty xl:text-wrap 
                 sm:tracking-tight md:tracking-normal lg:tracking-normal xl:tracking-wider;
}



.chapter3-header{
    @apply text-center        
           xl:text-wrap   mb-20   
           text-3xl font-bold p-6  rounded-lg 
           bg-primary/100 shadow-lg shadow-blue-500/40 
           md:col-span-2     lg:col-span-3  xl:col-span-4;
}

.chapter3-objective{
    @apply text-justify   
            mt-5 text-lg p-6  rounded-lg 
           bg-primary/100 shadow-lg shadow-blue-500/40   
            sm:p-5 md:p-10 lg:p-15 xl:p-20 
            md:col-span-2  lg:col-span-3  xl:col-span-4 ;

}

.chapter3-h1{
    @apply text-center text-3xl  mb-10;

}

.chapter3-content{
    @apply mt-5   text-lg p-6  rounded-lg  
           bg-primary/100 shadow-lg shadow-blue-500/40  
             
           md:col-span-2   lg:col-span-3  xl:col-span-4 
           sm:p-5 md:p-10 lg:p-15 xl:p-20 ;

}

.chapter3-h2{
    @apply text-center text-2xl  mb-10;
}

.chapter3-page1{
    @apply text-right  my-5   
           md:col-span-2 lg:col-span-3 xl:col-span-4;
}


.chapter3-article{
    @apply  md:col-span-2 lg:col-span-3 xl:col-span-4;
}

.chapter3-section{
    @apply text-lg p-6 rounded-lg       
            bg-primary/100 shadow-lg shadow-blue-500/40  
             sm:p-5 md:p-10 lg:p-15 xl:p-20  ; 
}


.chapter3-page{
    @apply text-center my-5
           md:col-span-2  lg:col-span-3 xl:col-span-4 ;  
}

.chapter3-images{
    @apply block mx-auto
           my-5
           sm:mx-5 md:mx-10 lg:mx-20 xl:mx-40;

}

.chapter3-keypoints{
    @apply  text-left my-10  

            text-lg p-6
           rounded-lg  bg-primary/100 shadow-lg shadow-blue-500/40
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}


.chapter3-h3{
    @apply text-left text-4xl  mb-10
}




.chapter3-section30 {
    @apply   text-left
           
           sm:p-5   md:p-5   lg:p-5  xl:p-5 
           sm:text-lg md:text-xl lg:text-2xl xl:text-3xl
           
}

.chapter3-section31 {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-primary/100 shadow-lg shadow-blue-500/40 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
}

.chapter3-exercises {
    @apply    text-center
           sm:p-5   md:p-5  lg:p-5  xl:p-5 
           sm:text-lg md:text-xl lg:text-2xl xl:text-3xl
}


.chapter3-references {
    @apply    text-center
           sm:p-5   md:p-5  lg:p-5  xl:p-5 
           sm:text-lg md:text-xl lg:text-2xl xl:text-3xl
           
           
}

.chapter3-last_section {
    @apply my-10  text-lg p-6 
           rounded-lg  bg-primary/35 
           sm:p-5   md:p-10   lg:p-15  xl:p-20  
           md:col-span-2  lg:col-span-3 xl:col-span-4
           text-justify
}    

.scroll-link-grid {
@apply grid gap-4 grid-cols-1 
       sm:grid-cols-2 md:grid-cols-4 ;
}


.scroll-link {
@apply relative  block rounded-2xl p-4 ring-1 ring-white/10 transition-transform transform hover:scale-[1.02] shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-slate-800 focus:ring-indigo-500 bg-white/5 backdrop-blur-sm 
      ;
}